header {
  top: 0;
  max-width: 20%;
  text-align: center;
  padding: 0;
  margin: 0;
  z-index: 100;
  position: fixed;

  .logo {
    background: asset_url("logo.png") no-repeat 80%;
    height: 200px;
    background-size: 75%;
    position: relative;
    transform-style: preserve-3d;
    transform-origin: 0% 20px;
    transition: all .8s ease;
  }

  .menu {
    height: 100%;
    float: left;
    a {
      text-decoration: none;
      color: #FFF;
    }

    ul li {
      display: block;
      font-size: 12px;
      margin: 10% 0;
      padding: 3px 10px;
      cursor: pointer;
      color: white;
      background-color: #5271FF;
      border: 1px transparent solid;
      border-radius: 10px;
    }

    li:hover {
     border-radius: 20px !important;
     color: #FFBD4A;
   }

    .sub_menu_main {
      transition: all;
      transition-duration: 0.3s;
      transition-timing-function: linear;

      .sub_menu {
        display: none;
        position: absolute;
        width: 50%;
        margin-left: 50px;
        padding-top: 5px;
      }

      &:hover {
        margin-bottom: 150px;
        animation: none;

        &:before {
          pointer-events: none;
          position: relative;
          z-index: -1;
          content: '';
          border-style: solid;
          left: calc(50% + 25px);
          border-width: 10px 10px 0 10px;
          border-color: #5271FF transparent transparent transparent;
          bottom: -28px;
        }
        .sub_menu {
          display: block;
        }
      }
    }

    .moving_logo {
      background-image: asset_url("moving_logo.gif");
      background-repeat: no-repeat;
      background-position: 20%, 0;
    }
  }
}