{{ page.title }}

Treatment is available at Wow-Life clinic off-line and online by prior appointment.
You can organise introductory programs in your place.
 
You can enrol your name for the healing treatment and training camps .
For appointments contact:
 
Mobile: <a href="tel:+918144444678">+91 81 44444 678</a>
Email: 
<a href="mailto:wow_life@dr.com">wow_life@dr.com</a>
<a href="mailto:founder@wow-life.in">founder@wow-life.in</a> 
 
UPI ID for payments:
 wowlife@axisbank
 
Join us to serve one and all. 
 
Address: New No:133 Old No: 62/1, First floor, Kalathiappan Street, Choolai, Chennai, Tamil Nadu, Pin Code: 600112 India.
