Treatment is available at Wow-Life clinic off-line and online by prior appointment.
You can organise introductory programs in your place.

You can enrol your name for the healing treatment and training camps .

<h4>For appointments contact:</h4>

<span>
<i class="fa-solid fa-envelope"></i>
<a href="mailto:wow_life@dr.com">wow_life@dr.com | </a>
<a href="mailto:founder@wow-life.in">founder@wow-life.in</a>
</span>

<a href="tel:+918144444678">        <i class="fa-brands fa-whatsapp fa-2x"></i></a>
<a href="https://goo.gl/maps/7mi1QFYMHLExyHmJ6">        <i class="fa-solid fa-location-dot fa-2x"></i></a>

<i class="fa-brands fa-google-pay fa-2x"></i><span style="top:-7px;position: relative"> wowlife@axisbank</span>

<h4>More details:</h4>
<a href="{{ site.facebook }}">        <i class="fa-brands fa-facebook fa-2x"></i></a>
<a href="{{ site.linkedin }}">        <i class="fa-brands fa-linkedin fa-2x"></i></a>

Join us to serve one and all.
