{{ page.title }}

The Anchor of the S!dh healing is Nirmal Chordia, who has been anchoring people since 1996. 
He conducts courses in English, Hindi, Tamil, Rajasthani.
He is in the news in few magazines, Tv shows and he is delivered many invitational / introductions lectures in many establishments and industries since 1996
 
Our award of thanks to all who are supporting us to spread this wisdom and thousands of people have benefited out of this including many institutions.
(We have conducted programs in many parts of India, Like Chennai, Madurai, Karaikudi, Karaikal, Nagapattinam, Bangalore, Mysore and out of India , like Sri Lanka, USA, Singapore.)
 
" Wow-L!fe" will continue to contribute articles and invitational / introductory lectures to create awareness about this wisdom of healing.  Your support in this is appreciated for organising Satsang, introductory talks and programs in your area / organisations to keep reaching more and more people.
 
 
A venue with a maximum of 16 people is the basic requirement of our camps.
It is a non-religious program. No caste, belief or rituals have been adopted. It is open to all.
Many, tailor-made programs for specific groups and for children are also being conducted by us.
We do Distance / Online healing. In special cases, we also do house visits.
We conduct in-house healing programs.
 
 (We are available but many are not yet open minded to heal themselves.)
