The internal factors of our well being are
the Food, the Breath, the Rest, the Attitude and the Spirit.
 
The external factors of our well being are
the Planets, the Place, the People & the Profession
 
We need to balance the above two factors.
 
 
When you enrol for the program, we do the complete diagnosis and self evaluation based on the above factors. Then we chart down the training, treatment and counselling needed for every individual, family and organisations, to attain complete well being and harmony.
 
Treatment and Training forms the two arms of the activities of Wow-L!fe, while the former is curative, the latter is preventive. Healing the body and the mind of the current state of dis-ease, one is equipped with the wisdom to prevent such imbalances in future.
 
A thirst for wisdom is the only criteria for enrolling in the Healing Awareness program "S!dh" which takes care of following

<h4>Body Awareness</h4>
<ul class="inline-list">
 <li>HEALTHY FOOD HABIT</li>
 <li>REJUVENATING EXERCISES</li>
 <li>FITNESS YOGA ASANAS</li>
</ul>

<h4>Breath Awareness</h4>
<ul class="inline-list">
 <li>BASIC MUDHRA PRANAYAMA</li>
 <li>ADVANCE SIDDH PRANAYAMA</li>
 <li>COOLING PRANAYAMA</li>
</ul>

<h4>Mind Awareness</h4>
<ul class="inline-list">
 <li>CONSCIOUS MIND</li>
 <li>SUBCONSCIOUS MIND</li>
 <li>SUPER CONSCIOUS MIND</li>
</ul>

<h4>Self Awareness</h4>
<ul class="inline-list">
 <li>KNOW THYSELF</li>
 <li>LOVE THY SELF</li>
 <li>ALL THY SELF</li>
</ul>

<h4>Time & Space Awareness</h4>
<ul class="inline-list">
 <li>ASTROLOGY</li>
 <li>VASTHU</li>
 <li>SAMADHI</li>
</ul>