The internal factors of our well being are
the Food, the Breath, the Rest, the Attitude and the Spirit.
 
The external factors of our well being are
the Planets, the Place, the People & the Profession
 
We need to balance the above two factors.
 
 
When you enrol for the program, we do the complete diagnosis and self evaluation based on the above factors. Then we chart down the training, treatment and counselling needed for every individual, family and organisations, to attain complete well being and harmony.
 
Treatment and Training forms the two arms of the activities of Wow-L!fe, while the former is curative, the latter is preventive. Healing the body and the mind of the current state of dis-ease, one is equipped with the wisdom to prevent such imbalances in future.
 
A thirst for wisdom is the only criteria for enrolling in the Healing Awareness program "S!dh" which takes care of following
  
 Body Awareness
HEALTHY FOOD HABIT * REJUVENATING EXERCISES  * FITNESS YOGA ASANAS
 Breath Awareness        
BASIC MUDHRA PRANAYAMA * ADVANCE SIDDH PRANAYAMA * COOLING PRANAYAMA
 Mind Awareness
CONSCIOUS MIND * SUBCONSCIOUS MIND * SUPER CONSCIOUS MIND            
 Self Awareness 
KNOW THYSELF * LOVE THY SELF * ALL THY SELF
 Time & Space Awareness
ASTROLOGY * VASTHU * SAMADHI