{{ page.title }}

Universal self- that is the meaning of the Prakrit language "SIDH".
 
Being Sidh brings awareness about an energy to the needy and thus healing happens.
 
Each of us has at some time or other in our lives in the time of need, we made available for the needy by way of  touch, taste, smell, sight and sound, which healed them.
It creates harmony in "Panch Boothas", the five Great energies Earth, Water, Fire, Air and Ether of which the universe is made up off, thus heals self and others.
 
This simple act backed by the selfless intention to be available to support healing is the strong foundation for all forms of energy work, the system of medicines and therapies.
It is not magic but it is not less than magic.
 
All that is needed is an anchor, by way of few, simple guidelines for the happenings of healing to take place. It is for the body, the mind, the time, the space and beyond.
It is for all because we, at Wow-L!fe, Just "BE" and Healing Happens !
 
 
Neither I AM  THIS nor I AM THAT. ! AM ALL ! - Ramana Papaji