html,
body {
    height: 100%;
}

body {
    font-family: 'Poppins', 'Alice';
    font-weight: 400;
    font-size: 20px;
    cursor: default;
    margin: 0;
    //background: asset_url('background_image.jpg') no-repeat;
    background-size: 100%;
    background-position: 50%;
    background-color: beige;
    background-attachment: fixed;
    a,
    a:link,
    a:visited {
        color: #FFBD4A;
    }
}

section {
    width: 100%;
    height: auto;
    position: relative;
    padding: 20px;
}

.main_content {
    background: #FFF;
    color: #FFF;
    padding: 10px;
    margin: auto;
    min-width: 1024px;
    max-width: 1280px;
    min-height: 100%;
}

.clear-fix:after {
    content: "";
    display: block;
    clear: both;
    float: none;
}

.left {
    float: left;
}

.right {
    float: right;
}

.bold {
    font-weight: 700;
}

ul {
    list-style-type: none;
}

.clearfix {
    &::before {
        clear: both;
        content: '';
    }
}

.fixed_header {
    position: fixed;
    display: block;
    top: 0;
    min-width: 1024px;
    max-width: 1280px;
    width: 100%;
    padding: 0;
    z-index: 99;
    margin-right: -10px;
}

.flash {
    display: flex;
    margin-left: 20%;
    height: 200px;
    background: #5271FF;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    font-weight: 500;
    &-heading {
        color: #FFF;
        margin: auto;
        font-size: 4em;
        flex: 0 1 50%;
        font-family: 'Niconne', 'Open Sans';
    }
    &-sub-heading {
        font-size: 1.5em;
        flex: 0 1 40%;
        letter-spacing: 5.5px;
    }
    .focus {
        color: #FFBD4A;
    }
    .registred-mark {
        font-size: 0.23em;
        position: absolute;
        top: 50px;
    }
}

.content {
    position: relative;
    text-align: center;
    padding: 10px 0 5% 20px;
    background: #5271FF;
    color: #FFF;
    p {
        padding: 5px 0 5px 0;
        color: #FFF;
    }
    .section-heading {
        color: #FFBD4A;
    }
    H4 {
        color: #FFF;
    }
    .case_button {
        display: inline-block;
        margin: 20px 0;
        padding: 3px 10px;
        cursor: pointer;
        background-color: #405EEA;
        border: 1px transparent solid;
        border-radius: 20px;
        text-decoration: none;
    }
}

.base_content_margin {
    margin: 0 12.5% 0 12.5%;
}

.button {
    border: 1px solid;
    border-radius: 10px;
    padding: 5px 15px;
    cursor: pointer;
    background-color: aliceblue;
}