@media (prefers-color-scheme: dark) {
    body {
        background: $bg_dark;
        color: $white;
    }

    a {
        color: $link_dark;
    }

    h1 {
        color: $white
    }

    h2 {
        color: $pale_white;
    }

    h3,
    h4,
    h5,
    h6 {
        color: $half_white;
    }

    code,
    pre {
        color: $code_dark;
    }

    strong {
        color: $bold_dark;
    }

    .highlight,
    pre {
        background-color: $code_bg_dark;
    }

    .menu {
        color: $black;

        &-item {
            border: 1px solid $white;

            &:hover {
                background-color: $half_white;
            }
        }
    }

    .tags {
        .tag {
            color: $sub_link_dark;
        }
    }
}