.code-container {
    display: flex;
    justify-content: flex-end;
}

.copy-code-button {
    display: grid;
    grid-auto-flow: column;
    align-items: center;
    grid-column-gap: 4px;
    border: none;
    border-radius: 5px;
    cursor: pointer;

    &::before {
        content: "Copy";
    }

    &::after {
        content: "📋";
        display: block;
    }

    &.copied {
        &::before {
            content: "Copied!";
        }

        &::after {
            content: "✅";
        }
    }
}