// colors
$black: #000;
$white: #FFF;
$pale_white: #EEE;
$half_white: #DDD;
$gray: #202020;
$grey: #494949;

// components
$link: #0033cc;
$sub_link: #3c90b1;
$code: #4e4e4e;
$code_bg: #f7f5f5;
$button_bg: #5E7FDC;

// components dark
$link_dark: #809fff;
$sub_link_dark: #e47e42;
$code_dark: #c4d8d8;
$code_bg_dark: #4e4e4e;
$menu_dark: #161616;
$bg_dark: #313131;
$bold_dark: #efc6c6;

