<div class="case_1 base_content_margin">
  <H4>Dr.R.Kanagasabapathy , B.Sc., M.B.B.S., F.I.C.P., MNAMS, MD</H4>


  <p>Myself Dr.R.Kanagasabapathy running a 40 bedded nursing home.</p>

  <p>I learnt pranayama and meditation from Nirmal Guruji 2 years back. Since then I am practicing pranayama and
    meditation regularly. I myself felt many changes my health like improvement in my
    <span class="bold">head ach , body pain and leg pain. I developed positive thinking and inner harmony</span> in the
    family life. I am interested in yogic practice like Reiki and acupuncture.</p>

  <p>My wife and children are also attended the Reiki and pranayama classes. They are practicing but not regularly, even
    then we observed wonderful changes in their life style. My wife was got rid of repeated respiratory infection, head
    ach and <span class="bold">diabetic</span> brought under control. Both of my children was got rid of
    <span class="bold">repeated respiratory infection and head ach</span>. They are more active now.</p>

  <p>Since we personally felt so much of improvement, we arranged pranayama classes for our staff about 50 members.
    There was disharmony among staffs before attending the classes due to various illnesses they suffered and due to
    improper attitudes. After attending the classes we felt
    <span class="bold">harmony in our hospital and sister’s attitude towards the patients</span> also changed.</p>

  <p>I hope Nirmal Guruji will be one among us. We are giving healing therapy for the patients having
    <span class="bold">chronic headache, leg pain, back pain, chronic breathing difficulties and many types of chronic cases. Along with allopathic treatment we are giving this healing treatment.  This is giving very good improvement in the patients</span>.
    I wish him all the success.</p>
</div>