<div class="case_1" xmlns="http://www.w3.org/1999/html">
  <H4>Dr.P.Rajappan B.Sc., M.B.B.S</H4>

  <p>I was suffering from a severe <span class="bold">backache</span> in the month of September 1998.The X-Ray showed
    <span class="bold">spondylitic</span> change of lumbar spine. With this I started looking out for treatment in the
    alternative system of medicine since I could not take the routing medication.Due to compulsion form my wife I
    attended the Yoga classes conducted by Nirmal B C.</p>
  <p>It so happened that my wife too had been suffering from headache on and off for the
    <span class="bold">past 20 years</span>, she also suffering from
    <span class="bold">severe Back ache and knee joint pain for about 5 years</span>.</p>

  <p>On approaching Nirmal B C, he taught us the importance of proper breathing PRANAYAMA, the importance of
    <span class="bold">taking water, the right food, in the right time, in proper quantity and quality the importance of being a vegetarian</span>
    which helped us a lot in weight reduction, and is having a <span class="bold">positive thinking and living</span>.
  </p>

  <p>On we started practising we realised that our physical problems miraculously disappeared without any medicines.
    There is a marked <span class="bold">change in our attitude and approach towards other people</span>. We feel as if
    our <span class="bold">age has come down by about 10 years</span>. We also attended the Reiki classes and doing
    service to other.</p>

  <p>I <span class="bold">recommend yoga for my patients</span> suffering from mild hypertension, asthma, Back pain and
    allergic cough. All my patients who had attended the yoga classes are happy and are leading a
    <span class="bold">normal life without medication. The meditation program gives mental relaxation, better concentration, improvement of memory power, and a sort of blissful calm</span>.
  </p>

</div>