<div class="case_1_1">
  <H4>Dr.Jayachandran ,M.B.B.S.,F.C.C.P.,D.I.H.DIP.CARD.,</H4>

  <p>I am 43 yrs old and a practicing industrial physician. Though my job is not too strenuous it had it’s own
    demands.</p>

  <p>I was suffering from <span class="bold">hypertension</span>.</p>

  <p>My occupational category is a stressful one by nature. At the peak of my career on Nov 6th, 99 I had a
    <span class="bold">heart attack</span> much to the agony of my family. My children were in their prime time and from
    Nov 99 to Feb.’ 00 everything that happened me was you call it fate or anything else. To add up to my mystery
    <span class="bold">my family broke up</span> and the children were left with my care and affection only all this at
    a time when I myself needed a lot of love and care from my life partner. One son was in plus two and the other one a
    girl just nearing age. With this stress, all following one after other please imagine my mental and physical status.
  </p>

  <p>It is then, when I lost all faith on myself, others and even god I came across</p>

  <p><span class="bold">Nirmal B C</span> now called nirmaljee by me was introduced to me by a well wishing doctor
    friend of mine. After listening to me without making a judgement on what I am or commenting on my past deeds he
    started conversations with me that made me <span class="bold">automatically realise</span> that I personally lacked
    self esteem, love for myself. The problems I had were all basically due to my not realising that I am a person who
    should do anything in life based on the driving principle of ‘service’ in me. If any act or decision to be taken I
    should only ask myself if that act will be of any service to me or to others. I am not to take any decision without
    clarifying myself on this. This he didn’t push it on me or lectured me but by a
    <span class="bold">very passive interaction, Yoga, Reiki and transitional analysis</span> I myself got this answer.
  </p>

  <p>Ever since I started doing this my personality itself made a big difference, in turn
    <span class="bold">infusing confidence, purpose of actions, faith</span> and all such qualities that make you a
    person ‘here and now’. I owe my gratitude to him. But what he needs is a universal love from every one he teaches.
    Ultimately I want to become a member of his <span class="bold">‘ARHAMM‘</span> movement, which in the long run will
    make the whole world a worthy place to live for one and all. We need not expect the world to end or wish for ‘vishnu
    avathar’ to end this ‘kaliyugam’. May all live in peace?</p>

  <p>I am the medical service in charge for my workmen. <span class="bold">A three-week’s</span> program by Mr.Nirmaljee
    was organised for my workmen. When the program ended it will be a usual feed back of ‘garlands’. I decided to take a
    feed back from the same group after a time frame of three weeks.</p>

  <p>I was surprised to know that the same <span class="bold">group meets by it self every Friday</span> and does a
    combined prayer and practise. And they are continuing their regular practice at home.</p>

  <p>I am herewith giving a statistics of my questionnaire and thus our employees felt.........</p>
  <p><span class="bold">Change in body :</span> 1) weight reduced 2) briskness 3) freshness 4) stomach is lighter 5)
    tension reduced 6) body heat reduced 7) sweating reduced</p>

  <p><span class="bold">Change in mind:</span> 1) happy 2 treating equally 3) peace full 4) anger reduced 5) relaxed 6)
    ego reduced</p>

  <p><span class="bold">Diseases reduced: </span>1) back pain gone 2) relief from cold 3) free motion 4) digestion
    improved 5) nervousness reduced 6) no headache.</p>

  <p><span class="bold">Change in habits:</span> 1) positive food habits 2) wake up early 3) behave well 4) behave
    sweetly& softly 5) stopped tea / coffee 6) stopped alcohol 7) more water intake</p>

  <p><span class="bold">Change in food:</span> 1) good appetite 2) vegetarian food 3) diet reduced 4) natural diet</p>

  <p><span class="bold">Change in sleep:</span> 1) deep sleep 2) deep rest 3) wake up fresh</p>

  <p><span class="bold">Change in home relation:</span> 1) closeness 2) better co-operation 3) better understanding 4)
    more affectionate</p>

  <p><span class="bold">Workplace relation : </span>1) more involvement 2) work skill fully 3) more committed 4)more
    interest 5) confidence 6) more focused 7) more responsible.</p>

  <p><span class="bold">Course opinion : </span>1)still to learn 2) need advance course 3) useful course</p>

  <p>Thanks to Mr. Nirmaljee.</p>

  <div>
    <a class="case_button" href=<%= case1_path %>>Back</a>
    <a class="case_button" href=<%= case_1_2_path %>>Read what <span class="bold">CARBORANDUM UNIVERSAL LIMITED</span> has to say....</a>
  </div>
</div>