<div class="contact_us">
  <p><span class="bold">Among various self-healing methodologies we, at ARHAMM, focus on energy healing programs for Health + Attitude Management. We offer: </span>
  </p>

  <p><span class="bold">  Counseling :</span> for their psychological and vasthu problems,</p>

  <p><span class="bold">  Drugless treatment :</span> for all types of chronic pains and diseases,</p> &

  <p><span class="bold">Training programs :</span> on Reiki, Acupressure, Yogasana, Pranayama, Meditation.</p>

  <p>Many,<span class="bold"> tailor-made programs</span> for specific groups and for children are also been conducted
    by
    us. We have also conducted <span class="bold">religion-oriented programs </span> for Gayathri parivar and Jain
    organizations. We are, now working on formulating a composite 21 and 41 days program.<span class="bold"> We reach where the need is</span>.
    A place and a maximum of 16 people is the basic requirement of our camps. We have conducted programs in
    <span class="bold">many part of Tamil Nadu</span>, Like Chennai, Madurai, Karaikudi, Karaikal, Nagapattinam,
    Bengalure
    and Sri Lanka.</p>

  <p>It is a non-religious foundation. No cast, belief or rituals is been adopted. It is open to all. You can organize
    introductory programs in you family or in you organizations. If you feel satisfied then only you can enroll you name
    for the course.</p>

  <p>Treatment is available at clinic in Chennai, by prior appointment. In some cases, house visits are made and for all
    the cases distance healing is made available.</p>

  <p>For ARHAMM’S Health + Attitude Management [treatment and training] camps on Energy Healing</p>

    <span class="bold">Contact: </span>
    <span class="bold">ARHAMM

    <p>Nirmal B C</p></span>
    DR/IBAM/RMP A - 1964
    <p>Calcutta Post Box No.- 7111 ,</p>
    <p>Post: New No:133 Old No: 62/1, Kalathiappa Street,</p>
    <p>Choolai, Chennai, Tamil Nadu, India, pin code: 600 112.</p>
      <p>Mobile: <a href="tel:+919840120444">+91 98401 20444</a>
        Email: <a href="mailto:arhamm@doctor.com"> arhamm@doctor.com</a>
      </p>
</div>