<div class="health base_content_margin">
  <h2>Health + Attitude Management[HAM] Program</h2>
  <p>What do we want to provide for your family or organization, material comfort or inner harmony?If there is no
    internal harmony no material comfort is enough and if there is inner harmony then we truly enjoy the comfort given
    to us.</p>
  <p> In keeping with our goal of advocating <span class="bold">Health + Attitude management</span>, we conduct in-house
    training programs. A thirst for knowledge and a commitment to service are the only criteria for enrolling in the
    following training programs.
  <div class="table-content">
    <table class="pure-table pure-table-striped">
      <thead>
      <tr>
        <td><span class="bold">MANAGE BODY</span></td>
        <td><span class="bold">PROGRAM DEALS IN</span></td>
        <td><span class="bold">BENEFITS</span></td>
      </tr>
      </thead>
      <tbody class="pure-table-odd">
      <tr>
        <td>HEALTHY FOOD HABIT</td>
        <td>VEG.,POSITIVE, NATURAL, HERBAL</td>
        <td>HEALING AND ENERGETIC</td>
      </tr>
      <tr>
        <td>REJUVENATING EXER</td>
        <td>WARMING UP, PRELIMINARY, YOGIC</td>
        <td>FLEXIBILITY, FRESHNESS</td>
      </tr>
      <tr>
        <td>SURYA NAMASKAR</td>
        <td>YOGIC RETHEMETIC POSTURES</td>
        <td>BETTER COORDINATION</td>
      </tr>
      <tr>
        <td>KEEP FIT YOGA ASANA</td>
        <td>HEAL THE SPECIFIC DIS EASE</td>
        <td>CURE THE DISEASE</td>
      </tr>
      <tr>
        <td>YOGA ASANAS</td>
        <td>84 YOGA POSTURES</td>
        <td>MASTER THE BODY</td>
      </tr>
      </tbody>
      <thead>
      <tr>
        <td></td>
        <td><span class="bold">MANAGE BREATH</span></td>
        <td></td>
      </tr>
      </thead>
      <tbody class="pure-table-odd">
      <tr>
        <td>BASIC PRANAYAMA</td>
        <td>PHISICAL POSTURES, &amp;BREATHING</td>
        <td>BRISKNESS AND ACTIVE</td>
      </tr>
      <tr>
        <td>MUDHRA PRANAYAMA</td>
        <td>MUDHRAS, HEALING POWER,</td>
        <td>HEAL SELF &amp; OTHERS</td>
      </tr>
      <tr>
        <td>HIGHER PRANAYAMA</td>
        <td>MAHAT AND NADI SHUDHI</td>
        <td>AWARNESS- ENERGY CEN.</td>
      </tr>
      <tr>
        <td>COOLING PRANAYAMA</td>
        <td>SITHALA, SITKARI, DOUTHI</td>
        <td>TO LET GO AND RELAXE</td>
      </tr>
      <tr>
        <td>HAN PRANAYAMA</td>
        <td>MIND &amp; BREATH COORDINATION</td>
        <td>MASTER THE BREATH</td>
      </tr>
      </tbody>
      <thead>
      <tr>
        <td></td>
        <td><span class="bold">MANAGE MIND</span></td>
        <td></td>
      </tr>
      </thead>
      <tbody class="pure-table-odd">
      <tr>
        <td>SUBCONSCIOUS TECH.</td>
        <td>SUBCONS, POSITIVE AFFIRMATION</td>
        <td>
          THINK+VE &amp; ACHIEVE
        </td>
      </tr>
      <tr>
        <td>RELAXATION TECH.</td>
        <td>OBSERVE &amp; THANK, BODY ORGANS</td>
        <td>STRESS FREE AND ALERT</td>
      </tr>
      <tr>
        <td>AWARENESS TECH.</td>
        <td>OBSERVE BREATH, STATIC POSTURE</td>
        <td>AWARNESS, INTUITION</td>
      </tr>
      <tr>
        <td>CLENSING TECH.</td>
        <td>SUPPRESSED FEELINGS &amp; EMOTIONS</td>
        <td>CLARITY&amp; PRODUCTIVITY</td>
      </tr>
      <tr>
        <td>MIND PROGRAMMING</td>
        <td>PERCEPTION, HABITS, REPROGRAM</td>
        <td>MASTER THE MIND</td>
      </tr>
      </tbody>
      <thead>
      <tr>
        <td></td>
        <td><span class="bold">MANAGE SELF</span></td>
        <td></td>
      </tr>
      </thead>
      <tbody class="pure-table-odd">
      <tr>
        <td>ACUPRESSURE</td>
        <td>ANATOMY , DIAGNOSIS, HEAL,</td>
        <td>ENERGY BALANCE</td>
      </tr>
      <tr>
        <td>ART OF LIVING</td>
        <td>QUALITY &amp; UNDERSTANDING LIFE</td>
        <td>RIGHT PERCEPTION</td>
      </tr>
      <tr>
        <td>T.A.</td>
        <td>EGO STATE, JOHARI, TRANSACTIONS</td>
        <td>KNOW THY SELF</td>
      </tr>
      <tr>
        <td>SAMADHI</td>
        <td>SHARING, CARING, ENJOYING, PRESENT</td>
        <td>EQUANIMOUS, CALM,</td>
      </tr>
      <tr>
        <td>R E I K I</td>
        <td>ATTUNEMENT, SYMBOLS, HEALING</td>
        <td>MASTER THY SELF</td>
      </tr>
      <tr>
        <td>VASTHU</td>
        <td>AIR-LIGHT ORIENTATION,FENGSUI,</td>
        <td>PLACE - HARMONY</td>
      </tr>
      </tbody>
    </table>
  </div>
</div>