<div class="home base_content_margin">
  <p>In Indian Prakrith language <span class="bold">ARHAMM</span> means <span class="bold">I AM THAT</span>.</p>

  <p> We, at ARHAMM believe in this inherent capacity of the human body [and the mind] to heal it self of all its
    ailments and become whole, complete and perfect.
    All that is needed is an anchor, by way of few, simple guidelines, to enable the body to
    <span class="bold">realize its latent power to heal itself</span> to
    <span class="bold">keep Health+Attitude 100%</span>.</p>

  <p> We have dedicated ourselves to spread the Health+ Attitude management[HAM], combining the
    <span class="bold"> ancient wisdom</span> of east, with the <span class="bold">scientific investigation</span> of
    the west, at the level of <span class="bold">body, mind, spirit and emotions</span>.</p>

  <p> You can join us to <span class="bold">A</span>ttain <span class="bold">R</span>ealization through
    <span class="bold">H</span>ealth+<span class="bold">A</span>ttitude <span class="bold">M</span>anagement
    <span class="bold">M</span>ethods[<span class="bold">ARHAMM</span>] to serve ourselves & others too !!! </p>
</div>