<div class="hormony base_content_margin">
  <h2 class="section-heading">ATTAIN COMPLETE HARMONY</h2>

  <p>To <span class="bold">attain complete harmony</span> we have to balance the internal and the external factors
    responsible for our well being.</p>

  <p><span class="bold">The internal factors are food, breath, rest, attitude and the spirit.</span></p>

  <p><span class="bold">The external factors are planets, relationships, environment, job and opportunities.</span></p>

  <p>So after the complete diagnosis and self evaluation based on these factors, for every individual, family and
    organizations, we chart down the training, treatment and counseling needed to attain complete well being and
    harmony.</p>

  <p><span class="bold">Treatment and training</span> forms the two arms of the activities of
    <span class="bold">ARHAMM</span>, while the former is curative, the latter is preventive. Healing the body and the
    mind of the current state of dis-ease, one is equipped with the knowledge to prevent such imbalances in future.</p>

  <p>The <span class="bold">ARHAMM</span> method of
    <span class="bold">diagnosis, treatment of ailments and training</span> has evolved by combining natural and energy
    healing methods such as
    <span class="bold">Reiki, Acupressure, Yogasana, Pranayama, Meditation, Vasthu, Transaction Analysis (TA), Colour therapy, Herbal remedies etc</span>.
    The treatment is <span class="bold">drugless</span>, incorporating changes in <span class="bold">lifestyle</span>
    and modification in <span class="bold">food habits</span>.</p>
</div>