// SASS variable overrides must be declared before loading up Active Admin's styles.
//
// To view the variables that Active Admin provides, take a look at
// `app/assets/stylesheets/active_admin/mixins/_variables.scss` in the
// Active Admin source.
//
// For example, to change the sidebar width:
// $sidebar-width: 242px;

// Active Admin's got SASS!
@import "active_admin/mixins";
@import "active_admin/base";

// ActiveSkin Config
//$skinTextColor: #1e2a33 !default
//$skinTextActiveColor: #fff !default
//$skinTextTable: #7f8c8d !default
//$skinHeaderTextColor: #FFFFFF !default
//$skinFontFamily: 'Source Sans Pro', sans-serif !default
//$panelHeaderTextColor: #FFFFFF !default

$skinActiveColor: #ee843e;
$skinHeaderBck: #002744;
$panelHeaderBck: #002744;

$skinLogo: asset_url("logo.png") no-repeat 10%;
@import "active_skin";


.site_title {
  padding: 25px !important;
  padding-left: 80px !important;
  text-indent: 0 !important;
  background-size: 50px !important;
}
// Overriding any non-variable SASS must be done after the fact.
// For example, to change the default status-tag color:
//
//   .status_tag { background: #6090DB; }
