html, body {
  height: 100%;
  font-family: "Comic Sans MS";
  font-weight: 400;
  cursor: default;
  padding: 0;
  max-width: 1280px;
  width: 100%;
  margin: 0 auto;
}

.clear-fix:after {
  content: " ";
  display: block;
  clear: both;
  float: none;
}

.left {
  float: left;
}

.right {
  float: right;
}

.bold {
  font-weight: 600;
}

ul {
  list-style-type: none;
}

.clearfix,
%clearfix {
  &::after {
    clear: both;
    content: '';
    display: table;
  }
}

.content {
  top: 30%;
  left: 20%;
  height: auto;
  width: 80%;
  position: relative;
  text-align: center;
  max-height: 100%;

  p {
    padding: 5px 0 5px 0;
  }
}