html, body {
  height: 100%;
}

body {
  font-family: "Comic Sans MS";
  font-weight: 400;
  cursor: default;
  margin: 0;
  //background: asset_url('background_image.jpg') no-repeat;
  background-size: 100%;
  background-position: 50%;
  background-color: beige;
  background-attachment: fixed;
}

.main_content {
  background: #FFF;
  padding: 10px;
  margin: auto;
  min-width: 1024px;
  max-width: 1280px;
  min-height: 100%;
}

.clear-fix:after {
  content: "";
  display: block;
  clear: both;
  float: none;
}

.left {
  float: left;
}

.right {
  float: right;
}

.bold {
  font-weight: 600;
}

ul {
  list-style-type: none;
}

.clearfix {
  &::before {
    clear: both;
    content: '';
  }
}

.fixed_header {
  position: fixed;
  display: block;
  top: 0;
  min-width: 1024px;
  max-width: 1280px;
  width: 100%;
  padding: 0;
  z-index: 99;
  margin-right: -10px;
}

.flash {
  display: flex;
  margin-left: 20%;
  margin-right: -10px;
  height: 200px;
  background: #FFF;
  h1 {
    margin: auto;
  }
}

.content {
  margin-top: 200px;
  margin-left: 20%;
  width: 80%;
  position: relative;
  text-align: center;
  padding: 10px 0 5% 0;

  p {
    padding: 5px 0 5px 0;
  }

  .button {
    display: inline-block;
    margin: 20px 0;
    padding: 3px 10px;
    cursor: pointer;
    color: white;
    background-color: #75cdff;
    border: 1px transparent solid;
    border-radius: 20px;
    text-decoration: none;
  }
}