header {
  top: 0;
  max-height: 100%;
  max-width: 20%;
  text-align: center;
  height: 100%;
  padding: 0;
  margin: 0;
  z-index: 100;
  position: fixed;
  
  .logo{
    background: asset_url("logo.png") no-repeat 80%;
    height: 250px;
    background-size: 70%;
  }
  
  .menu {
    height: 100px;
    float: left;
    min-width: 100%;
    a{
      text-decoration: none;
    }

    ul li {
      display: block;
      margin: 20px 0;
      padding: 3px 10px;
      cursor: pointer;
      color: white;
      background-color: #75cdff;
      border: 1px transparent solid;
      border-radius: 20px;
    }

    .moving_logo {
      background-image: asset_url("moving_logo.gif");
      background-repeat: no-repeat;
      background-position-x: 20%;
    }
  }
}