header {
  top: 0;
  max-height: 100%;
  max-width: 20%;
  text-align: center;
  height: 100%;
  padding: 0;
  margin: 0;
  z-index: 100;
  position: fixed;

  .logo {
    background: asset_url("logo.png") no-repeat 80%;
    height: 250px;
    background-size: 70%;
    position: relative;
    transform-style: preserve-3d;
    transform-origin: 0% 20px;
    transition: all .8s ease;
    &:hover {
      -webkit-transform: rotateY(90deg);
      transform: rotateY(90deg);
    }
  }
  .webName {
    transform: translate(-40px, -140px);
    position: absolute;
    z-index: -1;
    font-size: 20px;
    background-image: -webkit-gradient(linear, left top, right top, color-stop(0, #f22), color-stop(0.15, #f2f), color-stop(0.3, #22f), color-stop(0.45, #2ff), color-stop(0.6, #2f2), color-stop(0.75, #2f2), color-stop(0.9, #ff2), color-stop(1, #f22));
    background-image: gradient(linear, left top, right top, color-stop(0, #f22), color-stop(0.15, #f2f), color-stop(0.3, #22f), color-stop(0.45, #2ff), color-stop(0.6, #2f2), color-stop(0.75, #2f2), color-stop(0.9, #ff2), color-stop(1, #f22));
    color: transparent;
    -webkit-background-clip: text;
    background-clip: text;
  }

  .menu {
    height: 100px;
    float: left;
    min-width: 100%;
    a {
      text-decoration: none;
      color: #FFF;
    }

    ul li {
      display: block;
      margin: 20px 0;
      padding: 3px 10px;
      cursor: pointer;
      color: white;
      background-color: #75cdff;
      border: 1px transparent solid;
      border-radius: 10px;
    }

    li:hover {
      animation-name: buzz;
      animation-duration: 1s;
      animation-timing-function: linear;
      animation-iteration-count: infinite;
      border-radius: 20px !important;
    }
    .sub_menu_main {
      height: 20px;
      transition: all;
      transition-duration: 0.3s;
      transition-timing-function: linear;

      .sub_menu {
        display: none;
        position: absolute;
        width: 50%;
        margin-left: 50px;
      }

      &:hover {
        margin-bottom: 250px;
        animation: none;

        &:before {
          pointer-events: none;
          position: relative;
          z-index: -1;
          content: '';
          border-style: solid;
          left: calc(50% + 25px);
          border-width: 15px 15px 0 15px;
          border-color: #75cdff transparent transparent transparent;
          bottom: -35px;
        }
        .sub_menu {
          display: block;
        }
      }
    }

    .moving_logo {
      background-image: asset_url("moving_logo.gif");
      background-repeat: no-repeat;
      background-position-x: 20%;
    }
  }
}