<!DOCTYPE html>
<html lang="{{ site.lang | default: " en-US " }}">

<head>
    <title>Wow-L!fe</title>


    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta http-equiv="content-type" content="text/html; charset=UTF-8">
    <meta http-equiv="Content-Type" content="text/html; charset=windows-1252">
    <meta name="keywords" content="health,attitude,alternative medicine,body,mind,spirit,emotions,yoga,reiki,acupressure,vasthu,treatment,training,counselling,arhamm,chennai,india,stress,pancha maha bhooth,healing,energy,athma,soul.">
    <meta name="description" content="individual,family,organisational hormony,through reiki,yoga,acupressure,using treatment training counseling,forhouse visit hospital visit,using drugless methods,and energy healing,pancha maha bhootha."> {% seo %}
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link href="https://fonts.googleapis.com/css?family=Alice&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Niconne&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="{{ " /assets/css/style.css?v=" | append: site.github.build_revision | relative_url }}">
    <link rel="stylesheet" href="{{ " /assets/css/main.css?v=" | append: site.github.build_revision | relative_url }}">
    <link rel="stylesheet" href="{{ " /assets/css/normalize.css?v=" | append: site.github.build_revision | relative_url }}">

    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-120449056-2"></script>
    <script>
        window.dataLayer = window.dataLayer || [];

        function gtag() {
            dataLayer.push(arguments);
        }
        gtag('js', new Date());

        gtag('config', 'UA-120449056-2');
    </script>
</head>

<body>
    <div class="main_content">
        <header>
            <div class="logo"></div>
            <div class="menu">
                <ul>
                    {% for item in site.data.navigation.menu %}
                    <a href="{{ item.link }}">
                        <li class="menu-item">{{ item.name }}</li>
                    </a>
                    {% endfor %}
                </ul>
            </div>
        </header>
        <div class="fixed_header ">
            <div class="flash ">
                <span class="flash-heading ">Wow-L<span class="focus ">!</span>fe<span class="registred-mark ">®</span></span>
                <span class="flash-sub-heading ">
        <span class="focus ">U</span>nfolding <span class="focus ">V</span>alues
                </span>
            </div>
        </div>
        <div class="content ">
            {{ content }}
        </div>
    </div>
</body>

</html>