<!DOCTYPE html>
<html lang="{{ site.lang | default: " en-US " }}">

  <head>
    <title>Wow-L!fe</title>


    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta http-equiv="content-type" content="text/html; charset=UTF-8">
    <meta http-equiv="Content-Type" content="text/html; charset=windows-1252">
    <meta name="keywords" content="health,attitude,alternative medicine,body,mind,spirit,emotions,yoga,reiki,acupressure,vasthu,treatment,training,counselling,arhamm,chennai,india,stress,pancha maha bhooth,healing,energy,athma,soul.">
    <meta name="description" content="individual,family,organisational hormony,through reiki,yoga,acupressure,using treatment training counseling,forhouse visit hospital visit,using drugless methods,and energy healing,pancha maha bhootha."> {% seo %}
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- <link href="https://fonts.googleapis.com/css?family=Alice&display=swap" rel="stylesheet"> -->
    <!-- <link href="https://fonts.googleapis.com/css?family=Niconne&display=swap" rel="stylesheet"> -->

    <link rel="stylesheet" href="{{ "/assets/css/style.css?v=" | append: site.github.build_revision | relative_url }}">
    <link rel="stylesheet" href="{{ "/assets/css/main.css?v=" | append: site.github.build_revision | relative_url }}">
    <link rel="stylesheet" href="{{ "/assets/css/normalize.css?v=" | append: site.github.build_revision | relative_url }}">

<!-- Google tag (gtag.js) -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=G-W5P1NYEMW1"></script>
    <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'G-W5P1NYEMW1');
  </script>
</head>
<body>
   
  <!--header-->
  <header class="main-header clearfix" role="header">
    <div class="logo">
      <a href="#"><em>Wow</em>-L!fe</a>
    </div>
    <a href="#menu" class="menu-link"><i class="fa fa-bars"></i></a>
    <nav id="menu" class="main-nav" role="navigation">
      <ul class="main-menu">
        {% for item in site.data.navigation.menu %}
            <li class="menu-item">
                <a href="{{ item.link }}">{{ item.name }}</a>
            </li>
        {% endfor %}
        <!-- <li class="has-submenu"><a href="#section2">About Us</a> -->
          <!-- <ul class="sub-menu"> -->
            <!-- <li><a href="#section2">Who we are?</a></li> -->
            <!-- <li><a href="#section3">What we do?</a></li> -->
            <!-- <li><a href="#section3">How it works?</a></li> -->
            <!-- <li><a href="https://templatemo.com/about" rel="sponsored" class="external">External URL</a></li> -->
          <!-- </ul> -->
        <!-- </li> -->        
      </ul>
    </nav>
  </header>

    <div class="content ">
            {{ content }}
        </div>


  <footer>
        <div>Copyright 2022©</div>
  </footer>
    <script>
        $('.nav li:first').addClass('active');

        var showSection = function showSection(section, isAnimate) {
          var
          direction = section.replace(/#/, ''),
          reqSection = $('.section').filter('[data-section="' + direction + '"]'),
          reqSectionPos = reqSection.offset().top - 0;

          if (isAnimate) {
            $('body, html').animate({
              scrollTop: reqSectionPos },
            800);
          } else {
            $('body, html').scrollTop(reqSectionPos);
          }

        };

        var checkSection = function checkSection() {
          $('.section').each(function () {
            var
            $this = $(this),
            topEdge = $this.offset().top - 80,
            bottomEdge = topEdge + $this.height(),
            wScroll = $(window).scrollTop();
            if (topEdge < wScroll && bottomEdge > wScroll) {
              var
              currentId = $this.data('section'),
              reqLink = $('a').filter('[href*=\\#' + currentId + ']');
              reqLink.closest('li').addClass('active').
              siblings().removeClass('active');
            }
          });
        };

        $('.main-menu, .scroll-to-section').on('click', 'a', function (e) {
          if($(e.target).hasClass('external')) {
            return;
          }
          e.preventDefault();
          $('#menu').removeClass('active');
          showSection($(this).attr('href'), true);
        });

        $(window).scroll(function () {
          checkSection();
        });
    </script>
</body>

</html>