<div class="person base_content_margin">
  <p>The founder of the foundation is Nirmal B C. We are serving people from 1994. Thousands of people have benefited
    out of our services.</p>

  <p> Our award of thanks to all who are supporting us to spread this knowledge, particularly, Mrs.Sheela
    Venkatakrishnan, without her support it might had very difficult to reach this stage as on today.</p>

  <p> Nirmal is <span class="bold">Registered medical practitioner</span> in alternative system of medicine. His
    registration No. <span class="bold">IBAM/RMP A - 1964</span> at Calcutta..</p>

  <p> He has received training from many organizations since 1980 on health care, behavioral science, yoga and many
    healing methods like <span class="bold">grand mastership training in Reiki, Yoga, Nature cure</span>, hypnotism,
    pulse diagnosis, transcendental meditation, transactional analyses, Bhramakumari meditations, Sahaj marg meditation,
    Bhava shamadhi meditation, shaj samadhi meditation, kaya kalpam, Teacher training in art of living foundation,
    Gayathri mantra and Jain philosophies.</p>

  <p>He conducts courses in English, Hindi, Tamil, Rajasthani.</p>

  <p>He has conducted course on Art of living and Athma gyana yoga and for many Educational institutions like
    <span class="bold">IIT MADRAS, PADMA SHESADHARI</span>, KCP, and BAMBINO SCHOOLS IN CHENNAI,, Medical institutions
    LIKE RAMAIA NURSING HOME, CHENNAI,, Financial institutions [BANKS] LIKE<span class="bold"> SBI, BOB, CUB</span>, and
    Business Institutions LIKE <span class="bold">TVS, CUMI, ENFIELD, MASTEK, BLUE SHIFT INDIA LIMITED</span>.</p>

  <p>He is in the news in few magazines and he is delivered many invitational/introductions lectures in many
    establishments and industries LIKE <span class="bold">FASOD CECRI, L&T, INDIAN BANK, CHAMBER OF COMMERCE</span>.</p>

  <p>He is also has interest into Numerology, Palmistry, Astrology, Philosophy, Psychology and Behavioral sciences.</p>
</div>