<!DOCTYPE html>
<html>
<head>
  <title>Wow-L!fe</title>
  <meta http-equiv="content-type" content="text/html; charset=UTF-8">
  <meta http-equiv="Content-Type" content="text/html; charset=windows-1252">
  <meta name="keywords" content="health,attitude,alternative medicine,body,mind,spirit,emotions,yoga,reiki,acupressure,vasthu,treatment,training,counselling,arhamm,chennai,india,stress,pancha maha bhooth,healing,energy,athma,soul.">
  <meta name="description" content="individual,family,organisational hormony,through reiki,yoga,acupressure,using treatment training counseling,forhouse visit hospital visit,using drugless methods,and energy healing,pancha maha bhootha.">

  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
</head>

<body>
<header>
  <div class="logo">
  </div>
  <div class="menu">
    <ul>
      <li class="moving_logo">Home</li>
      <li>Health + Attitude</li>
      <li>Complete Hormony</li>
      <li>Heal yourself, Others</li>
      <li>Reach out Project</li>
      <li>Case Studies</li>
      <li>Person Behind</li>
      <li>Contact Us</li>
      <li>Updates & Blog</li>
    </ul>
  </div>
</header>
<%= yield %>
</body>
</html>
